backend/todo/db.sqlite3

# dependencies
frontend/todo/node_modules
frontend/todo/.pnp
frontend/todo.pnp.js

# testing
frontend/todo/coverage

# production
frontend/todo/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/todovenv


./backend/todo/db.sqlite3
./backend/todo/main/__pycache__


